.sidebar {
  background-color: #f9fafb;
  z-index: 50;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
  width: 280px;
}

.cusrsor {
  cursor: pointer;
}

.sidebar-closed {
  left: -100%;
}

.sidebar-open {
  left: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.sidebar-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #111;
  font-weight: lighter;
}

.sidebar-logo-image {
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar-logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-category {
  display: flex;
  flex-direction: column;
}

.sidebar-category-label {
  color: #4b5563;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-weight: 300;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.sidebar-link {
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

.sidebar-link-active {
  background-color: #552dab;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  height: 40px;
  width: 10px;
  position: absolute;
  left: 0;
  z-index: 9089;
}

.sidebar-link-content {
  display: flex;
  gap: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #111;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar {
    left: 0;
  }

  .sidebar-close-button {
    display: none;
  }
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}
